[submodule "httpserver/swagger-ui"]
	path = httpserver/swagger-ui
	url = https://github.com/cloudius-systems/swagger-ui
[submodule "httpserver/api-doc"]
	path = httpserver/api-doc
	url = https://github.com/cloudius-systems/osv-rest-api
