<div class="container">
  <div class="hero-unit">
    <h1>
	Hello, welcome to OSv
    </h1>
    <p>
	<a class="btn btn-primary btn-large">Learn more</a>
    </p>
  </div>
  <hr>
  <div>
    {{footer}}
  </div>
</div>
</div>
