<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>OSv management console</h1>
    <p></p>
    <p>You can monitor and deploy apps</p>
    <p>
	<a class="btn btn-lg btn-primary" href="../../components/#navbar">Read docs »</a>
    </p>
  </div>

  <div> {{footer}} </div>
</div>
