<div class="container">
  <h2> permgen</h2>
  <table class="table table-condensed">
        <thead>
          <tr>
            <th>Property</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
	    {{#permgen}}
          <tr>
		<td>{{name}}</td>
            <td>{{value}}</td>
          </tr>
	    {{/permgen}}
         </tbody>
      </table>
</div>
