<div class="container">
  <table class="table table-condensed">
    <thead>
	<tr>
	  <th>Name</th>
	  <th>Args</th>
	  <th>State</th>
	  <th>Action</th>
	</tr>
    </thead>
    <tbody>
	{{#apps}}
	<tr>
	  <td>{{name}}</td>
	  <td>{{args}}</td>
	  <td class='state' id={{id}}>{{state}}</td>
	  <td><a href="#" class='action' id={{id}}>{{action}}</a></td>
	</tr>
	<tr>
	{{/apps}}
	</tbody>
    </table>
  </div>
