<div class="container">
  <table class="table table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th>State</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
		{{#permgen}}
		<td>{{name}}</td>
            <td>{{state}}</td>
            <td>{{action}}</td>
		{{/permgen}}
          </tr>
         </tbody>
      </table>
</div>
