<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
	<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</a>
	<a class="brand" href="/">OSv</a>
	<div class="nav-collapse">
	  <ul class="nav">
	    <li>
	    <a href="/">Home</a>
	    </li>
          <li> 
	     <a href="/monitor">Monitor</a>
	    </li>
	    <li>
	    <a href="/upload">Deploy</a>
	    </li>
	  </ul>
	</div>
    </div>
  </div>
</div>
