<div class="container">
  <h1>Application upload</h1>
  <form enctype="multipart/form-data" method="post">
    <input name="myfile" type="file">
    <br>
    <input type="submit" value="Upload!">
  </form>
</div>
