<div class="container">
  <h1>OSv application deployment</h1>
  <blockquote>
    <p>Deploy your Java applications into OSv by following these steps:
     <ul>
       <li>Upload your application zip file (see <a href="https://github.com/cloudius-systems/mgmt/tree/mgmt-api/example">example</a> project).</li>
	 <li>Activate the uploaded application by <a href="/manage">starting</a> it.</li>
     </ul>
    </p>
  </blockquote>
  <br>
  <!-- The fileinput-button span is used to style the file input field as button -->
  <span class="btn btn-success fileinput-button">
    <i class="glyphicon glyphicon-plus"></i>
    <span>Add files...</span>
    <!-- The file input field used as target for the file upload widget -->
    <input id="fileupload" type="file" name="files" multiple>
  </span>
  <br>
  <br>
  <!-- The global progress bar -->
  <div id="progress" class="progress">
    <div class="progress-bar progress-bar-success"></div>
  </div>
  <!-- The container for the uploaded files -->
  <div id="files" class="files"></div>
  <br>
</div>
<script src="js/vendor/jquery.ui.widget.js"></script>
<script src="js/load-image.min.js"></script>
<script src="js/canvas-to-blob.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="js/jquery.iframe-transport.js"></script>
<script src="js/jquery.fileupload.js"></script>
<script src="js/jquery.fileupload-process.js"></script>
<script src="js/jquery.fileupload-validate.js"></script>
<script src="js/upload.js"></script>

